* {
    background-color: black;
    color: orange;
    font-family: 'Poor Story', cursive;
}

.main-text {
    font-size: 25px;
}

body {
    background-color: black;
    color: orange;
    font-family: 'Poor Story', cursive;
}

.startbtn {
    width: 300px;
    height: 50px;
    margin: 0 auto;
    font-weight: bold;
    font-size: 20px;
}

.question-text {
    font-size: 20px;
}

.questionbtn {
    width: 300px;
    height: 100px;
    margin: 0 auto;
    font-weight: 500;
    font-size: 15px;
}

article {
    display: flex;
    flex-direction: column;
}

.question {
    display: none;
}

.result {
    display: none;
}

.main-img {
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

#img {
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

.result-title {
    font-weight: 700;
}

.result-animal {
    color: white;
    font-size: 20px;
    font-weight: normal;
}

hr {
    border-top: 2px dashed white;
    background-color: white;
}

.result-explain {
    font-size: 15px;
    line-height: 160%;
    font-weight: normal;
}

.share {
    margin: 0 auto;
}

.sns-message {
    margin: 0 auto;
    color: lightgray;
    font-size: 24px;
    font-weight: 100;
}

.kakao_ad {
    width: 320px;
    margin: 0 auto;

}

.banner {
    display: flex;
    justify-content: center;
    width: 300px;
    margin: 0 auto;
}

.banner-img {
    width: 300px;
}